html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 20%;
    background-color: #252F3C;
}
.header{
    width: 100%;
    text-align: center;
}
.header h1{
    font-size: 4em;
    line-height: 1em;
    font-weight: 500;
    color: #FFE6C0;
    text-shadow: 0 -1px 0 rgba(200,255,210,0.5);
}

.content-wrapper{
    display: block;
    text-align: center;
    padding:0;
    margin: 0;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#video-scroller{
    overflow: hidden;
    padding: 0;
    width: 520px;
    height: 360px;
    position: relative;
    line-height: 1.5em;
    background-color: #FFEFD6;
}
#video-box{
    width: 640px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}
.box{
    padding: 0;
    display: inline-block;
}
#video-scroller .viewport {
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 100, 255, 0.3) inset;
}
#video-scroller .overview {
    list-style: none;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
}
#video-scroller .thumb .end,
#video-scroller .thumb {
    background-color: #003D5D;
}
#video-scroller .scrollbar {
    position: relative;
    float: right;
    width: 15px;
}
#video-scroller .track {
    background-color: #D8EEFD;
    height: 100%;
    width:13px;
    position: relative;
    padding: 0 1px;
}
#video-scroller .thumb {
    height: 20px;
    width: 13px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
}
#video-scroller .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 13px;
}
#video-scroller .disable{
    display: none;
}

#video-scroller .math{
    font-family: monospace;
    background-color: rgba(255,155,0,0.1);
}

.hover{
    font-size: 8px;
    line-height: 8px;
    display: inline-block;
    cursor: pointer;
    width: 1.1em;
    height: 1em;
    border: 1px solid black;
    margin: 0 0.5em;
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(1,1,1,0.5), 0 -1px 0 rgba(255,155,155,0.5);
    box-shadow: 1px 1px 1px rgba(1,1,1,0.5), 1px 1px 1px rgba(255,155,155,0.5) inset;
}
.timestop{
    background-color: rgba(180,80,1,0.8);
}
.ts-edit{
    background-color: rgba(80,180,1,0.8);
    position: relative;
}   
.edbox{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(244,255,254,0.4);
    z-index: 2;
    font-size: 12pt;
    padding: 5px;
    border: 2px solid rgba(0,111,12,0.6);
    border-radius: 8px;
}    

.v-scroll .edbox input{
    width: 3em;
}
.v-list .edbox input{
    width: 9em;
}
.v-list .overview{
    padding: 3em 0 8em;
}
.controls{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
}
.controls span{
    display: block;
}
.controls .remove{
    border: 2px solid rgba(200,45,12,0.5);
    background-color: rgba(200,45,12,0.1);
    color: rgba(78,0,0,0.6);
}
.controls .addnew{
    border: 2px solid rgba(45,200,12,0.5);
    background-color: rgba(45,200,12,0.1);
    color: rgba(0,78,0,0.6);
}
p.addnew{
    cursor: pointer;
    background-color: rgba(45,200,12,0.1);
    color: rgba(0,78,0,0.6);
    border-radius: 0.5em;
}
.messagebox{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid rgba(200,45,12,0.5);
    background-color: rgba(200,45,12,0.1);
    color: rgba(78,0,0,0.6);
}
.messagebox .close{
    cursor: pointer;
    width: 1.5em;
    display: inline-block;
}
.messagebox .message{
    padding: 0 3px;
}
.vid-listing{
    background-color: rgba(200, 178, 100, 0.102);
    border-radius: 0.5em;
}
.vid-listing a{
    text-decoration: none;
    color: rgba(28,58,128,0.7);
    padding-left: 2em;
}
.vid-listing a:hover{
    color: rgba(28,58,128,1);
}
