<!DOCTYPE HTML>
<head>
  <title>scroller demos</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/swfobject.js"></script>    
  <script type="text/javascript" src="/static/js/scroller/yt-scroller.js"></script>    
  <script type="text/javascript" src="/static/js/yt_edit.js"></script>    
  <link rel="stylesheet" type="text/css" href="/static/css/yt-scroller.css" />
</head>
<body>
<div class="header">
    <h1>demos</h1>
</div>
<div class="content-wrapper">
  <div id="video-scroller" class="box">
  <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport">
		<div class="overview">
          {% for vid in vids %}
          <p>
          <a href="{{ vid.vid_id }}">{{ vid.name }}</a>
          {% endfor %}
          <p class="addnew">+</p>
      </div>
	</div>
  </div>
</div>
</body>
