<!DOCTYPE HTML>
<head>
  <title>scroller demos</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/djangoajax.js"></script>    
  <script type="text/javascript" src="/static/js/swfobject.js"></script>    
  <script type="text/javascript" src="/static/js/scroller/yt-scroller.js"></script>    
  <script type="text/javascript" src="/static/js/yt-edit.js"></script>    
  <script type="text/javascript">
    $(function(){
        $('#video-scroller').tinyscrollbar();
    });
  </script>  
  <link rel="stylesheet" type="text/css" href="/static/css/yt-scroller.css" />
</head>
<body>
<div class="header">
    <h1>demos</h1>
</div>
<div class="content-wrapper">
  {% if message %}
      <h2>{{ message }}</h2>
  {% endif %}    
  <div id="video-scroller" class="box v-list">
  <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport">
        {% if edit %}
        <div class="controls">
            <span class="addnew">+</span>
            <span class="remove">-</span>
        </div>
        <span class="messagebox"><span class="message"></span><span class="close">&#x2716;</span></span>
        {% endif %}
		<div class="overview">
          {% for vid in vids %}
          <p class="vid-listing" data-vid="{{ vid.id }}">
            <a class="textcontent" href="/yt_scroller/vid/{{ vid.vid_id }}">{{ vid.name }}</a>
            {% if edit %}
            <span class="hover ts-edit" data-url="/yt_scroller/ajax/update_time/{{ vid.id }}/{{ timestop.id }}/">&#x2714;
              <span class="edbox">
                <span class="submit ebutton">&#x2714;</span>
                <span class="close ebutton">&#x2716;</span>
              </span>
            </span>
            {% endif %}
          {% endfor %}
          <p class="addnew">+</p>
      </div>
	</div>
  </div>
</div>
</body>
