<!DOCTYPE HTML>
<head>
  <title>oh hi</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/swfobject.js"></script>    
  <script type="text/javascript" src="/static/js/scroller/yt-scroller.js"></script>    
  <script type="text/javascript">
    var params = { allowScriptAccess: "always" };
    var atts = { id: "anno-video" };
    swfobject.embedSWF("http://www.youtube.com/v/8jEaFV5PY2s?enablejsapi=1&playerapiid=anno-video&version=3",
                       "anno-video", 
                       "640",
                       "360",
                       "8", 
                       null, 
                       null, 
                       params, 
                       atts);

  </script>
  <link rel="stylesheet" type="text/css" href="/static/css/yt-scroller.css" />
</head>
<body>
<div class="header">
    <h1>Video Scroller Demo</h1>
</div>
<div class="content-wrapper">
  <div class="box" id="video-box">
      <div id="anno-video">
        You need Flash player 8+ and JavaScript enabled to view this video.
      </div>
  </div><div id="anno-video-scroller" class="box">
  <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport">
		<div class="overview">
<p>So we have these two; or we actually have this one expression here that we need to add:

<p class='math'>(4x<sup>2</sup>y - 3x<sup>2</sup> - 2y) + (8xy - 3x<sup>2</sup> + 2x<sup>2</sup>y + 4)

<p>let me rewrite it. And since we're adding this second expression right here in parenthesis we can actually get rid of those parenthesis. We can essentially distribute that positive sign. so we get:

<p class="math">4x<sup>2</sup>y - 3x<sup>2</sup> - 2y + 8xy - 3x<sup>2</sup> + 2x<sup>2</sup>y + 4

<p>And now to simplify this. And the only reason why I could just remove those parenthesis is I have a positive right over here. If this were a negative sign I would have to distribute the negative in order to get rid of those parenthesis. 

<p>With that out of the way lets simplify this. And to simplify this I wanna essentially add terms that have the same order, or if they have multiple variables they have the same variables in the same order; raised to the same exponents.

<p>So here I have <span class='math'>4x<sup>2</sup>y</span>. Do I have any other <span class='math'>x<sup>2</sup>y</span> terms? so ...

<p>This right over here is another <span class='math'>x<sup>2</sup>y</span> term. So I can add <span class='math'>4x<sup>2</sup>y</span> plus two more <span class='math'>x<sup>2</sup>y</span> and I get <span class='math'>6x<sup>2</sup>y</span>.

<p>Now lets go to this <span class='math'>x<sup>2</sup></span> term right over here. Do I have any other <span class='math'>x<sup>2</sup></span> terms? 

<p>Well I have this one right over here. Another <span class='math'>-3x<sup>2</sup></span>. So if I have <span class='math'>-3x<sup>2</sup></span> minus <span class='math'>3x<sup>2</sup></span>  that's going to be <span class='math'>-6x<sup>2</sup></span>.

<p>And then I have this (let me do it in orange) I have this first degree <span class='math'>y</span>  term. It looks like it's the only one, so then I'll just rewrite it: <span class='math'>-2y</span>.

<p>And then, this looks like the only <span class='math'>xy</span>  term right over here so I'll just rewrite it: <span class='math'>+8xy</span>.

<p>And then finally I have the <span class='math'>+4</span>. And it looks like this is done!

<p class='math'>6x<sup>2</sup>y -6x<sup>2</sup> -2y +8xy +4
      </div>
	</div>
  </div>
</div>
</body>
